.details {
  background: $background-1;
  padding: $base-padding*2 0;

  h3 {
    text-align: center;
  }

  .thin-br {
    border: 1px solid $primary;
    border-radius: 2px;
    box-shadow: $box-shadow-light;
    transition: all .3s ease;
    cursor: pointer;
    &:hover {
      box-shadow: $box-shadow-dark;
    }
  }

  ul {
    list-style-type: none;
    padding: 0;

    li {
      padding: $base-padding /2 $base-padding;

    }

    .details-info {
      color: $primary;
    }
  }

  .info-details {
    //width: 100%;
    @media (max-width: 720px) {
      //width: 300px;
    }
    @media (max-width: 480px) {
      width: 330px;
      font-size: $font-size-sm;
    }
    @media (max-width: 320px) {
      width: 270px;
    }
  }
}