.photo {
  padding: 0 $base-padding /2;
  box-shadow: $box-shadow-light;
  transition: all .3s ease;

  &:hover {
    box-shadow: $box-shadow-dark;
  }
}
.gallery {
  h3 {
    text-align: center;
  }
}
