.photo {
  //padding: 0 $base-padding /2;
  box-shadow: $box-shadow-light;
  transition: all .3s ease;
  object-fit: cover;

  &:hover {
    box-shadow: $box-shadow-dark;

  }

    img {
      //height: 11rem;
      height: 18rem;
      width: 100%;
      padding: 0.3rem 0.5rem;
      @media (max-width: 1200px) {
        //height: 9rem;
        height: 14rem;
      }
      @media (max-width: 960px) {
        //height: 13rem;
        height: 20rem;
      }
      @media (max-width: 480px) {
        height: 18rem;
        //height: 19rem;
      }
    }

}
.gallery {
  padding: 1rem 0 3rem 0;
  h3 {
    text-align: center;
    padding: 1rem;
    border: 1px solid $secondary;
    border-radius: $border-radius;
  }
}
