.info-card {
  background:  	$background-1 ;
  margin: 1rem 0;
  padding: 1rem 0 3rem 0;
  h3 {
    text-align: center;
  }
  #infoMiddle {
    padding: 5rem 0 0 0;
  }
}
.info-form {
  //padding: $base-padding;
  margin: $base-margin;


  .form-check {
    border: 1px solid #ccc;
    padding: $base-padding .5rem;
  }
}

.border {
  //box-shadow: $box-shadow-light;
  transition: all .3s ease;
  &:hover {
    box-shadow: $box-shadow-dark;
  }
}