.info-card {
  background:  	#ededed ;
  margin: 1rem 0;
  padding: 1rem 0;
  h3 {
    text-align: center;
  }

  .info-form {
    padding: $base-padding;
    margin: $base-margin;
    //border: 1px solid crimson;


    .form-check {
      border: 1px solid #ccc;
      padding: $base-padding;

    }
  }

  p {
    padding: $base-padding;
    margin-left: $base-margin;
  }
}

.border {
  box-shadow: $box-shadow-light;
  transition: all .3s ease;

  &:hover {
    box-shadow: $box-shadow-dark;
  }
}