.slider {
  height: 100vh;

  .head {
    background: black;
    opacity: 0.75;
    color: white;
    text-align: start;
    padding: 2rem;
    svg {
      padding:5px 0 0 0;
      fill: white ;
      cursor: pointer;
      &:hover {
        fill: blue;
      }
    }
  }
}

#second {
  padding: 3rem 0;

  h3 {
    margin: 1rem;
  }
}

.photo-imp {
  img {
    //height: 17rem;
    width: 100%;
    padding: .3rem .5rem;
    object-fit: cover;
    @media (max-width: 1200px) {
      //height: 15rem;
    }
    @media (max-width: 960px) {
      //height: 20rem;
    }
    @media (max-width: 480px) {
      //height: 18rem;
    }
  }
}