html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: #f0f0f0 ;
  //background: #d1c7bf ;
  //scroll-behavior: smooth;
}
html {
  scroll-behavior: smooth;
  //overflow: scroll; // elimina problema?
  overflow-x: hidden;
  overflow-y: scroll; /* has to be scroll, not auto */
  -webkit-overflow-scrolling: touch;
  height:100.1%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}